{% extends 'layout.html' %}

{% block title %}
Homepage
{% endblock title %}

{% block content %}
    <h1>Welcome to the Posts Page!</h1>
    <ul>
        {% for posts in posts %}
            <article class="post">
                <h2>{{ posts.title }}</h2>
                <p>{{ posts.created_at }}</p>
                <p>{{ posts.body }}</p>
                <a href="{% url 'posts:page' posts.slug %}">Read more</a>
            </article>


        {% empty %}
            <p>No posts available.</p>
        {% endfor %}
{% endblock content %}